# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
out-tsc

# dependencies
node_modules

# IDEs and editors
.idea
.project
.classpath
.c9
.settings
.history
.vscode
*.launch
*.sublime-workspace

# misc
.nx
.angular
.eslintcache
.husky/_
.sass-cache
connect.lock
coverage
reports
typings
*.log
*.sh
*.js
!proxy.conf.js

# System Files
.DS_Store
Thumbs.db
