<p-tabView>
  <p-tabPanel [header]="'DIALOG.DETAILS_TAB' | translate">
    <div class="flex flex-column row-gap-4" [formGroup]="formGroup" errorTailor>
      <!-- row 1 -->
      <div class="flex flex-row flex-wrap justify-content-between gap-4">
        <div class="flex-grow-1">
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              type="text"
              inputId="do_crd_detail_data_name"
              formControlName="name"
              class="w-full pt-3 pb-2 text-responsive"
              [attr.aria-label]="'CRD.DATA.NAME' | translate"
              [pTooltip]="'CRD.DATA.TOOLTIPS.NAME' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_data_name"> {{ 'CRD.DATA.NAME' | translate }}</label>
          </span>
        </div>
        <div class="flex-grow-1">
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              type="text"
              inputId="do_crd_detail_data_kind"
              formControlName="kind"
              class="w-full pt-3 pb-2 text-responsive"
              [attr.aria-label]="'CRD.DATA.KIND' | translate"
              [pTooltip]="'CRD.DATA.TOOLTIPS.KIND' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_data_kind"> {{ 'CRD.DATA.KIND' | translate }}</label>
          </span>
        </div>
      </div>
      <!-- row 2 -->
      <div class="flex flex-row flex-wrap justify-content-between gap-4">
        <div class="flex-grow-1">
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              inputId="do_crd_detail_data_product_name"
              type="text"
              formControlName="productName"
              class="w-full pt-3 pb-2 text-responsive"
              [attr.aria-label]="'CRD.DATA.PRODUCT_NAME' | translate"
              [pTooltip]="'CRD.DATA.TOOLTIPS.PRODUCT_NAME' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_data_product_name"> {{ 'CRD.DATA.PRODUCT_NAME' | translate }}</label>
          </span>
        </div>
        <div class="flex-grow-1">
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              type="text"
              inputId="do_crd_detail_data_app_id"
              formControlName="appId"
              class="w-full pt-3 pb-2 text-responsive"
              [attr.aria-label]="'CRD.DATA.APP_ID' | translate"
              [pTooltip]="'CRD.DATA.TOOLTIPS.APP_ID' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_data_app_id"> {{ 'CRD.DATA.APP_ID' | translate }}</label>
          </span>
        </div>
      </div>
      <!-- row 3 -->
      <div class="flex flex-row flex-wrap justify-content-between gap-4">
        <div class="flex-grow-1">
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              type="text"
              inputId="do_crd_detail_data_key"
              formControlName="key"
              class="w-full pt-3 pb-2 text-responsive"
              [attr.aria-label]="'CRD.DATA.KEY' | translate"
              [pTooltip]="'CRD.DATA.TOOLTIPS.KEY' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_data_key"> {{ 'CRD.DATA.KEY' | translate }}</label>
          </span>
        </div>
        <div class="flex-grow-1">
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              inputId="do_crd_detail_data_org_id"
              type="text"
              formControlName="orgId"
              class="w-full pt-3 pb-2 text-responsive"
              [attr.aria-label]="'CRD.DATA.ORG_ID' | translate"
              [pTooltip]="'CRD.DATA.TOOLTIPS.ORG_ID' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_data_org_id"> {{ 'CRD.DATA.ORG_ID' | translate }}</label>
          </span>
        </div>
      </div>
      <!-- row 4 -->
      <div class="w-12">
        <span class="p-float-label" controlErrorAnchor>
          <input
            pInputText
            type="text"
            inputId="do_crd_detail_data_description"
            formControlName="description"
            class="w-full pt-3 pb-2 text-responsive"
            [attr.aria-label]="'CRD.DATA.NAME' | translate"
            [pTooltip]="'CRD.DATA.TOOLTIPS.DESCRIPTION' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="do_crd_detail_data_description"> {{ 'CRD.DATA.DESCRIPTION' | translate }}</label>
        </span>
      </div>
      <!-- row 5 -->
      <div class="w-12">
        <span class="p-float-label" controlErrorAnchor>
          <textarea
            pInputTextarea
            type="text"
            id="do_crd_detail_data_data"
            class="w-full textarea-sm"
            style="min-height: 3rem"
            formControlName="data"
            rows="3"
            [autoResize]="true"
            [attr.aria-label]="'CRD.DATA.DATA' | translate"
            [pTooltip]="'CRD.DATA.DATA' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></textarea>
          <label for="do_crd_detail_data_data"> {{ 'CRD.DATA.DATA' | translate }} </label>
        </span>
      </div>
    </div>
  </p-tabPanel>

  <p-tabPanel
    *ngIf="updateHistory && updateHistory.length > 0 && changeMode === 'VIEW'"
    [header]="'DIALOG.HISTORY_TAB' | translate"
  >
    <app-update-history [updateHistory]="updateHistory" />
  </p-tabPanel>

  <p-tabPanel *ngIf="dataCrd?.status" [header]="'DIALOG.STATUS_TAB' | translate">
    <app-status-tab [status]="dataCrd?.status" />
  </p-tabPanel>
</p-tabView>
