<p-tabView>
  <p-tabPanel [header]="'DIALOG.TABS.DETAILS' | translate">
    <div class="flex flex-column row-gap-4" [formGroup]="formGroup" errorTailor>
      <!-- row 1 -->
      <div class="flex flex-row flex-wrap justify-content-between gap-4">
        <div class="flex-grow-1">
          <span class="p-float-label">
            <input
              pInputText
              type="text"
              inputId="do_crd_detail_database_name"
              formControlName="metadataName"
              class="w-full pt-3 pb-2 text-responsive"
              [attr.aria-label]="'CRD.COMMON.NAME' | translate"
              [pTooltip]="'CRD.COMMON.TOOLTIPS.NAME' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_database_name"> {{ 'CRD.COMMON.NAME' | translate }}</label>
          </span>
        </div>
        <div class="flex-grow-1">
          <span class="p-float-label">
            <input
              pInputText
              type="text"
              inputId="do_crd_detail_database_kind"
              formControlName="kind"
              class="w-full pt-3 pb-2 text-responsive"
              [attr.aria-label]="'CRD.COMMON.KIND' | translate"
              [pTooltip]="'CRD.COMMON.TOOLTIPS.KIND' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_database_kind"> {{ 'CRD.COMMON.KIND' | translate }}</label>
          </span>
        </div>
      </div>
      <!-- row 2 -->
      <div class="flex flex-row flex-wrap justify-content-between gap-4">
        <div class="flex-grow-1">
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              type="text"
              inputId="do_crd_detail_database_host"
              formControlName="host"
              class="w-full pt-3 pb-2 text-responsive"
              [attr.aria-label]="'CRD.DATABASE.HOST' | translate"
              [pTooltip]="'CRD.DATABASE.TOOLTIPS.HOST' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_database_host"> {{ 'CRD.DATABASE.HOST' | translate }}</label>
          </span>
        </div>
        <div class="flex-grow-1">
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              type="text"
              inputId="do_crd_detail_database_db_name"
              formControlName="specName"
              class="w-full pt-3 pb-2 text-responsive"
              [attr.aria-label]="'CRD.DATABASE.DATABASE_NAME' | translate"
              [pTooltip]="'CRD.DATABASE.TOOLTIPS.DATABASE_NAME' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_database_db_name"> {{ 'CRD.DATABASE.DATABASE_NAME' | translate }}</label>
          </span>
        </div>
      </div>
      <!-- row 3 -->
      <div class="flex flex-row flex-wrap justify-content-between gap-4">
        <div class="flex-grow-1">
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              type="text"
              inputId="do_crd_detail_database_schema"
              formControlName="schema"
              class="w-full pt-3 pb-2 text-responsive"
              [attr.aria-label]="'CRD.DATABASE.SCHEMA' | translate"
              [pTooltip]="'CRD.DATABASE.TOOLTIPS.SCHEMA' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_database_schema"> {{ 'CRD.DATABASE.SCHEMA' | translate }}</label>
          </span>
        </div>
        <div class="flex-grow-1">
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              type="text"
              inputId="do_crd_detail_database_user"
              formControlName="user"
              class="w-full pt-3 pb-2 text-responsive"
              [attr.aria-label]="'CRD.DATABASE.USER' | translate"
              [pTooltip]="'CRD.DATABASE.TOOLTIPS.USER' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_database_user"> {{ 'CRD.DATABASE.USER' | translate }}</label>
          </span>
        </div>
      </div>
      <!-- row 4 -->
      <div class="flex flex-row flex-wrap justify-content-between gap-4">
        <div class="flex-grow-1">
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              type="text"
              inputId="do_crd_detail_database_user_search_path"
              formControlName="user_search_path"
              class="w-full pt-3 pb-2 text-responsive"
              [attr.aria-label]="'CRD.DATABASE.USER_SEARCH_PATH' | translate"
              [pTooltip]="'CRD.DATABASE.TOOLTIPS.USER_SEARCH_PATH' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_database_user_search_path">
              {{ 'CRD.DATABASE.USER_SEARCH_PATH' | translate }}</label
            >
          </span>
        </div>
      </div>
    </div>
  </p-tabPanel>

  <p-tabPanel
    [header]="'DIALOG.TABS.CHANGES' | translate"
    *ngIf="updateHistory && updateHistory.length > 0 && changeMode === 'VIEW'"
  >
    <app-update-history [updateHistory]="updateHistory" [dateFormat]="dateFormat" />
  </p-tabPanel>

  <p-tabPanel [header]="'DIALOG.TABS.STATUS' | translate" *ngIf="databaseCrd?.status">
    <app-status-tab [status]="databaseCrd?.status" />
  </p-tabPanel>
</p-tabView>
