<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">{{ 'DIALOG.TABS.DETAILS' | translate }}</p-tab>
    @if (updateHistory && updateHistory.length > 0 && changeMode === 'VIEW') {
      <p-tab value="1">{{ 'DIALOG.TABS.CHANGES' | translate }}</p-tab>
    }
    @if (databaseCrd?.status) {
      <p-tab value="2">{{ 'DIALOG.TABS.STATUS' | translate }}</p-tab>
    }
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <div class="mt-2 flex flex-column row-gap-4" [formGroup]="formGroup" errorTailor>
        <!-- row 1 -->
        <div class="flex flex-row flex-wrap justify-content-between gap-4">
          <div class="flex-grow-1">
            <p-float-label variant="on">
              <input
                pInputText
                type="text"
                inputId="do_crd_detail_database_name"
                formControlName="metadataName"
                class="w-full pt-3 pb-2 text-responsive"
                [ariaLabel]="'CRD.COMMON.NAME' | translate"
                [pTooltip]="'CRD.COMMON.TOOLTIPS.NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="do_crd_detail_database_name"> {{ 'CRD.COMMON.NAME' | translate }}</label>
            </p-float-label>
          </div>
          <div class="flex-grow-1">
            <p-float-label variant="on">
              <input
                pInputText
                type="text"
                inputId="do_crd_detail_database_kind"
                formControlName="kind"
                class="w-full pt-3 pb-2 text-responsive"
                [ariaLabel]="'CRD.COMMON.KIND' | translate"
                [pTooltip]="'CRD.COMMON.TOOLTIPS.KIND' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="do_crd_detail_database_kind"> {{ 'CRD.COMMON.KIND' | translate }}</label>
            </p-float-label>
          </div>
        </div>
        <!-- row 2 -->
        <div class="flex flex-row flex-wrap justify-content-between gap-4">
          <div class="flex-grow-1">
            <p-float-label variant="on" controlErrorAnchor>
              <input
                pInputText
                type="text"
                inputId="do_crd_detail_database_host"
                formControlName="host"
                class="w-full pt-3 pb-2 text-responsive"
                [ariaLabel]="'CRD.DATABASE.HOST' | translate"
                [pTooltip]="'CRD.DATABASE.TOOLTIPS.HOST' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="do_crd_detail_database_host"> {{ 'CRD.DATABASE.HOST' | translate }}</label>
            </p-float-label>
          </div>
          <div class="flex-grow-1">
            <p-float-label variant="on" controlErrorAnchor>
              <input
                pInputText
                type="text"
                inputId="do_crd_detail_database_db_name"
                formControlName="specName"
                class="w-full pt-3 pb-2 text-responsive"
                [ariaLabel]="'CRD.DATABASE.DATABASE_NAME' | translate"
                [pTooltip]="'CRD.DATABASE.TOOLTIPS.DATABASE_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="do_crd_detail_database_db_name"> {{ 'CRD.DATABASE.DATABASE_NAME' | translate }}</label>
            </p-float-label>
          </div>
        </div>
        <!-- row 3 -->
        <div class="flex flex-row flex-wrap justify-content-between gap-4">
          <div class="flex-grow-1">
            <p-float-label variant="on" controlErrorAnchor>
              <input
                pInputText
                type="text"
                inputId="do_crd_detail_database_schema"
                formControlName="schema"
                class="w-full pt-3 pb-2 text-responsive"
                [ariaLabel]="'CRD.DATABASE.SCHEMA' | translate"
                [pTooltip]="'CRD.DATABASE.TOOLTIPS.SCHEMA' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="do_crd_detail_database_schema"> {{ 'CRD.DATABASE.SCHEMA' | translate }}</label>
            </p-float-label>
          </div>
          <div class="flex-grow-1">
            <p-float-label variant="on" controlErrorAnchor>
              <input
                pInputText
                type="text"
                inputId="do_crd_detail_database_user"
                formControlName="user"
                class="w-full pt-3 pb-2 text-responsive"
                [ariaLabel]="'CRD.DATABASE.USER' | translate"
                [pTooltip]="'CRD.DATABASE.TOOLTIPS.USER' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="do_crd_detail_database_user"> {{ 'CRD.DATABASE.USER' | translate }}</label>
            </p-float-label>
          </div>
        </div>
        <!-- row 4 -->
        <div class="flex flex-row flex-wrap justify-content-between gap-4">
          <div class="flex-grow-1">
            <p-float-label variant="on" controlErrorAnchor>
              <input
                pInputText
                type="text"
                inputId="do_crd_detail_database_user_search_path"
                formControlName="user_search_path"
                class="w-full pt-3 pb-2 text-responsive"
                [ariaLabel]="'CRD.DATABASE.USER_SEARCH_PATH' | translate"
                [pTooltip]="'CRD.DATABASE.TOOLTIPS.USER_SEARCH_PATH' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="do_crd_detail_database_user_search_path">
                {{ 'CRD.DATABASE.USER_SEARCH_PATH' | translate }}</label
              >
            </p-float-label>
          </div>
        </div>
      </div>
    </p-tabpanel>

    @if (updateHistory && updateHistory.length > 0 && changeMode === 'VIEW') {
      <p-tabpanel value="1">
        <app-update-history [updateHistory]="updateHistory" [dateFormat]="dateFormat" />
      </p-tabpanel>
    }

    @if (databaseCrd?.status) {
      <p-tabpanel value="2">
        <app-status-tab [status]="databaseCrd?.status" />
      </p-tabpanel>
    }
  </p-tabpanels>
</p-tabs>
