<!-- <p-dialog
  [header]="'ACTIONS.' + this.changeMode + '.ANNOUNCEMENT' | translate"
  [(visible)]="displayDetailDialog"
  (onHide)="onDialogHide()"
  [baseZIndex]="10000"
  [draggable]="true"
  [resizable]="true"
  [closable]="true"
  [modal]="true"
  [style]="{ width: '600px' }"
  [showHeader]="true"
  [breakpoints]="{
    '992px': '75vw',
    '768px': '90vw',
    '630px': '100vw'
  }"
>
  <form [formGroup]="formGroup" errorTailor>
    <div class="flex flex-wrap flex-column justify-content-between row-gap-3 sm:row-gap-4 mt-2">
      <div class="w-full relative">
        <p-badge
          *ngIf="changeMode !== 'VIEW'"
          severity="primary"
          [value]="255 - announcementTitle.value.length"
          class="z-1 text-badge-right"
          [attr.aria-label]="'ANNOUNCEMENT.TOOLTIPS.CHARACTERS' | translate"
          [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.CHARACTERS' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <span class="p-float-label" controlErrorAnchor>
          <textarea
            #announcementTitle
            pInputTextarea
            id="am_detail_form_title"
            type="text"
            style="min-height: 2.5rem"
            class="w-full textarea-sm"
            formControlName="title"
            rows="1"
            [autoResize]="true"
            appendTo="body"
            [ariaLabel]="'ANNOUNCEMENT.TITLE' | translate"
            [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.TITLE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></textarea>
          <label class="ocx-required-label" for="am_detail_form_title"> {{ 'ANNOUNCEMENT.TITLE' | translate }} </label>
        </span>
      </div>
      <div class="w-full relative">
        <p-badge
          *ngIf="changeMode !== 'VIEW'"
          severity="primary"
          [value]="1000 - announcementContent.value.length"
          class="z-1 text-badge-right"
          [attr.aria-label]="'ANNOUNCEMENT.TOOLTIPS.CHARACTERS' | translate"
          [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.CHARACTERS' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <span class="p-float-label" controlErrorAnchor>
          <textarea
            #announcementContent
            pInputTextarea
            id="am_detail_form_content"
            class="w-full textarea-md"
            formControlName="content"
            rows="3"
            [autoResize]="true"
            appendTo="body"
            [ariaLabel]="'ANNOUNCEMENT.CONTENT' | translate"
            [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.CONTENT' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></textarea>
          <label for="am_detail_form_content">{{ 'ANNOUNCEMENT.CONTENT' | translate }}</label>
        </span>
      </div>

      <div class="w-full flex flex-column sm:flex-row row-gap-3 sm:row-gap-4 column-gap-5">
        <div class="flex-grow-1">
          <span class="p-float-label">
            <p-dropdown
              #workspaceName
              id="am_detail_form_workspace_name"
              class="input-field"
              styleClass="w-full"
              [options]="allWorkspaces"
              [autoDisplayFirst]="true"
              [appendTo]="'body'"
              [showClear]="true"
              formControlName="workspaceName"
              [aria-label]="'ANNOUNCEMENT.WORKSPACE' | translate"
              [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.WORKSPACE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
            </p-dropdown>
            <label for="am_detail_form_workspace_name"> {{ 'ANNOUNCEMENT.WORKSPACE' | translate }} </label>
          </span>
        </div>

        <div class="flex-grow-1">
          <span class="p-float-label">
            <p-dropdown
              id="am_detail_form_application_name"
              class="input-field"
              styleClass="w-full"
              [options]="allProducts"
              [autoDisplayFirst]="true"
              [appendTo]="'body'"
              [showClear]="true"
              formControlName="productName"
              [ariaLabel]="'ANNOUNCEMENT.APPLICATION' | translate"
              [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.APPLICATION' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
            </p-dropdown>
            <label for="am_detail_form_application_name"> {{ 'ANNOUNCEMENT.APPLICATION' | translate }} </label>
          </span>
        </div>
      </div>

      <div class="w-full flex flex-column row-gap-3 sm:row-gap-4 sm:flex-row sm:justify-content-between">
        <div class="py-0 px-0">
          <div>
            <span class="p-float-label" controlErrorAnchor>
              <p-calendar
                inputId="am_detail_form_start_date"
                type="text"
                formControlName="startDate"
                styleClass="w-15rem"
                todayButtonStyleClass="calender-today"
                [dateFormat]="dateFormat"
                [hourFormat]="timeFormat"
                [showClear]="false"
                [showTime]="true"
                [showWeek]="true"
                [showIcon]="true"
                [showOnFocus]="false"
                appendTo="body"
                aria-labelledby="am_detail_form_start_date"
                [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.START_DATE' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></p-calendar>
              <label class="ocx-required-label" for="am_detail_form_start_date">
                {{ 'ANNOUNCEMENT.START_DATE' | translate }}
              </label>
            </span>
          </div>
        </div>
        <div class="">
          <div>
            <span class="p-float-label" controlErrorAnchor>
              <p-calendar
                inputId="am_detail_form_end_date"
                type="text"
                formControlName="endDate"
                styleClass="w-15rem"
                todayButtonStyleClass="calender-today"
                [dateFormat]="dateFormat"
                [hourFormat]="timeFormat"
                [showClear]="true"
                [showTime]="true"
                [showWeek]="true"
                [showIcon]="true"
                [showOnFocus]="false"
                appendTo="body"
                [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.END_DATE' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></p-calendar>
              <label for="am_detail_form_end_date"> {{ 'ANNOUNCEMENT.END_DATE' | translate }}</label>
            </span>
          </div>
        </div>
        <div class="mr-4 flex flex-column justify-content-center sm:align-items-center row-gap-1">
          <p-inputSwitch
            inputId="am_detail_form_status"
            class="input-switch-xl"
            formControlName="status"
            trueValue="ACTIVE"
            falseValue="INACTIVE"
            [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.STATUS' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></p-inputSwitch>
          <label class="text-xs float-label" for="am_detail_form_status">
            {{ 'ENUMS.ANNOUNCEMENT_STATUS.' + formGroup.controls['status'].value | translate }}
          </label>
        </div>
        <label
          *ngIf="
            formGroup.controls['startDate'].errors?.hasOwnProperty('invalidDateRange') ||
            formGroup.controls['endDate'].errors?.hasOwnProperty('invalidDateRange')
          "
          class="col-12 py-0 ml-1 sm:pl-3 control-error"
          for="am_detail_form_start_date"
        >
          {{ 'VALIDATION.ERRORS.INVALID_DATE_RANGE' | translate }}
        </label>
      </div>

      <div class="w-full flex flex-column row-gap-2 sm:flex-row sm:justify-content-evenly sm:align-items-end">
        <div class="p-0 md:text-right flex flex-column md:justify-content-end">
          <label class="float-label mb-1 text-sm font-medium" for="am_detail_form_priority"
            >{{ 'ANNOUNCEMENT.PRIORITY' | translate }}
          </label>
          <p-selectButton
            #announcmenPriority
            id="am_detail_form_priority"
            formControlName="priority"
            [options]="(priorityOptions$ | async) ?? []"
            [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.PRIORITY' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></p-selectButton>
        </div>
        <span
          id="am_detail_preview_icon"
          class="p-2 pi text-xl border-round hidden sm:block"
          [class.pi-info-circle]="announcmentType.value === 'INFO'"
          [class.pi-calendar]="announcmentType.value === 'EVENT'"
          [class.pi-wrench]="announcmentType.value === 'SYSTEM_MAINTENANCE'"
          [class.bg-red-100]="announcmenPriority.value === 'IMPORTANT'"
          [class.bg-yellow-100]="announcmenPriority.value === 'NORMAL'"
          [class.bg-blue-100]="announcmenPriority.value === 'LOW'"
          [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.PREVIEW.ICON' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></span>
        <div class="p-0 flex flex-column">
          <label class="float-label mb-1 text-sm font-medium" for="am_detail_form_type">
            {{ 'ANNOUNCEMENT.TYPE' | translate }}
          </label>
          <p-selectButton
            #announcmentType
            id="am_detail_form_type"
            formControlName="type"
            [options]="(typeOptions$ | async) ?? []"
            [ariaLabel]="'ANNOUNCEMENT.TOOLTIPS.TYPE' | translate"
            [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.TYPE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></p-selectButton>
        </div>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end gap-2 mb-1">
      <p-button
        *ngIf="changeMode === 'VIEW'"
        id="am_detail_action_close"
        icon="pi pi-times"
        (onClick)="onDialogHide()"
        [label]="'ACTIONS.CLOSE' | translate"
        [ariaLabel]="'ACTIONS.CLOSE' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CLOSE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        *ngIf="changeMode !== 'VIEW'"
        id="am_detail_action_cancel"
        icon="pi pi-times"
        (onClick)="onDialogHide()"
        [label]="'ACTIONS.CANCEL' | translate"
        [ariaLabel]="'ACTIONS.CANCEL' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CANCEL_AND_CLOSE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        *ngIf="changeMode !== 'VIEW'"
        id="am_detail_action_save"
        icon="pi pi-save"
        (onClick)="onSave()"
        [disabled]="!formGroup.valid"
        [label]="'ACTIONS.SAVE' | translate"
        [ariaLabel]="'ACTIONS.SAVE' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.SAVE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog> -->
