@import '/src/app/_do-mixins.scss';

@include text-badges;
@include readable-disabled-form-controls;
@include displaying-text-responsive;
@include dialog-footer-buttons;
@include dialog-non-full-size-modal;
@include tabview-reduce-padding;
@include tabview-fix-color-selected-tab;

:host ::ng-deep {
  .error-tailor-has-error ~ control-error {
    text-align: left;
  }
  .p-inputtextarea-resizable {
    resize: vertical;
  }

  @media screen and (min-width: 576px) {
    .sm\:dialog-header-right-slot {
      top: 1.55rem;
      right: 5rem;
      font-weight: var(--dialog-header-font-weight); // same as dialog-title
      font-size: var(--dialog-header-font-size);
    }
  }
}
