@import '/src/app/_am-mixins.scss';

@include text-badges;
@include correct-select-button;
@include dialog-footer-buttons;
@include dialog-non-full-size-modal;

:host ::ng-deep {
  label.float-label {
    color: var(--emphasis-medium);
  }
  .error-tailor-has-error ~ control-error {
    text-align: left;
  }
  .p-calendar {
    .calender-today {
      border-color: var(--primary-color);
    }
    .p-calendar-clear-icon {
      right: 40px;
    }
  }
  .p-inputtextarea {
    &.textarea-sm {
      min-height: 2rem;
    }
    &.textarea-md {
      min-height: 3rem;
    }
  }
  .p-inputtextarea-resizable {
    resize: vertical;
  }
}
