<p-dialog
  [header]="'ACTIONS.' + this.changeMode + '.CRD' | translate"
  [(visible)]="displayDetailDialog"
  (onHide)="onDialogHide()"
  [baseZIndex]="10000"
  [draggable]="true"
  [resizable]="true"
  [closable]="true"
  [modal]="true"
  [style]="{ width: '600px' }"
  [showHeader]="true"
  [breakpoints]="{
    '992px': '75vw',
    '768px': '90vw',
    '630px': '100vw'
  }"
>
  <app-data-form *ngIf="crdType && crdType.toString() === 'Data'" [changeMode]="changeMode" [dataCrd]="crd" />
  <app-database-form
    *ngIf="crdType && crdType.toString() === 'Database'"
    [changeMode]="changeMode"
    [databaseCrd]="crd"
  />
  <app-product-form *ngIf="crdType && crdType.toString() === 'Product'" [changeMode]="changeMode" [productCrd]="crd" />
  <app-permission-form
    *ngIf="crdType && crdType.toString() === 'Permission'"
    [changeMode]="changeMode"
    [permissionCrd]="crd"
  />
  <app-keycloak-form
    *ngIf="crdType && crdType.toString() === 'KeycloakClient'"
    [changeMode]="changeMode"
    [keycloakClientCrd]="crd"
  />
  <app-slot-form *ngIf="crdType && crdType.toString() === 'Slot'" [changeMode]="changeMode" [slotCrd]="crd" />
  <app-microfrontend-form
    *ngIf="crdType && crdType.toString() === 'Microfrontend'"
    [changeMode]="changeMode"
    [microfrontendCrd]="crd"
  />
  <app-microservice-form
    *ngIf="crdType && crdType.toString() === 'Microservice'"
    [changeMode]="changeMode"
    [microserviceCrd]="crd"
  />

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end gap-2 mb-1">
      <p-button
        *ngIf="changeMode === 'VIEW'"
        id="data_detail_action_close"
        icon="pi pi-times"
        (onClick)="onDialogHide()"
        [label]="'ACTIONS.CLOSE' | translate"
        [ariaLabel]="'ACTIONS.CLOSE' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CLOSE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        *ngIf="changeMode !== 'VIEW'"
        id="data_detail_action_cancel"
        icon="pi pi-times"
        (onClick)="onDialogHide()"
        [label]="'ACTIONS.CANCEL' | translate"
        [ariaLabel]="'ACTIONS.CANCEL' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CANCEL_AND_CLOSE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        *ngIf="changeMode !== 'VIEW'"
        id="data_detail_action_save"
        icon="pi pi-save"
        (onClick)="onSave()"
        [label]="'ACTIONS.SAVE' | translate"
        [ariaLabel]="'ACTIONS.SAVE' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.SAVE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
