<p-tabView>
  <p-tabPanel [header]="'DIALOG.TABS.DETAILS' | translate">
    <form [formGroup]="formGroup" errorTailor>
      <div class="flex flex-wrap flex-column sm:flex-row row-gap-3 sm:row-gap-4 column-gap-5 mt-2">
        <div>
          <span class="p-float-label">
            <input
              pInputText
              inputId="do_crd_detail_permission_name"
              type="text"
              formControlName="metadataName"
              styleClass="w-15rem"
              appendTo="body"
              [pTooltip]="'CRD.PERMISSION.TOOLTIPS.NAME' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_permission_name"> {{ 'CRD.PERMISSION.NAME' | translate }}</label>
          </span>
        </div>
        <div>
          <span class="p-float-label">
            <input
              pInputText
              inputId="do_crd_detail_permission_kind"
              type="text"
              formControlName="kind"
              styleClass="w-15rem"
              appendTo="body"
              [pTooltip]="'CRD.PERMISSION.TOOLTIPS.KIND' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_permission_kind"> {{ 'CRD.PERMISSION.KIND' | translate }}</label>
          </span>
        </div>
        <div>
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              inputId="do_crd_detail_permission_app_id"
              type="text"
              formControlName="appId"
              styleClass="w-15rem"
              appendTo="body"
              [pTooltip]="'CRD.PERMISSION.TOOLTIPS.APP_ID' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_permission_app_id"> {{ 'CRD.PERMISSION.APP_ID' | translate }}</label>
          </span>
        </div>
        <div>
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              inputId="do_crd_detail_permission_permission_name"
              type="text"
              formControlName="productName"
              styleClass="w-15rem"
              appendTo="body"
              [pTooltip]="'CRD.PERMISSION.TOOLTIPS.PRODUCT_NAME' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_permission_permission_name">
              {{ 'CRD.PERMISSION.PRODUCT_NAME' | translate }}</label
            >
          </span>
        </div>
        <div>
          <span class="p-float-label" controlErrorAnchor>
            <input
              pInputText
              inputId="do_crd_detail_permission_description"
              type="text"
              formControlName="description"
              styleClass="w-15rem"
              appendTo="body"
              [pTooltip]="'CRD.PERMISSION.TOOLTIPS.DESCRIPTION' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="do_crd_detail_permission_description"> {{ 'CRD.PERMISSION.DESCRIPTION' | translate }}</label>
          </span>
        </div>
      </div>
    </form>
  </p-tabPanel>

  <p-tabPanel
    [header]="'DIALOG.TABS.CHANGES' | translate"
    *ngIf="updateHistory && updateHistory.length > 0 && changeMode === 'VIEW'"
  >
    <app-update-history [updateHistory]="updateHistory" [dateFormat]="dateFormat" />
  </p-tabPanel>

  <p-tabPanel [header]="'DIALOG.TABS.STATUS' | translate" *ngIf="permissionCrd?.status">
    <app-status-tab [status]="permissionCrd?.status" />
  </p-tabPanel>
</p-tabView>
