<ocx-search-header
  [header]="'DIALOG.SEARCH.HEADER' | translate"
  [subheader]="'DIALOG.SEARCH.SUBHEADER' | translate"
  (searched)="submitCriteria()"
  (resetted)="resetCriteria()"
  [manualBreadcrumbs]="false"
  [actions]="actions"
>
  <div [formGroup]="crdCriteria" class="flex flex-wrap gap-3">
    <span class="p-float-label">
      <input
        id="do_crd_search_criteria_name"
        pInputText
        type="text"
        formControlName="name"
        class="w-9rem sm:w-13rem"
        [attr.aria-label]="'CRD.NAME' | translate"
        [pTooltip]="'CRD.TOOLTIPS.NAME' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
      <label for="do_crd_search_criteria_title">{{ 'CRD.NAME' | translate }}</label>
    </span>
    <span class="p-float-label">
      <p-multiSelect
        id="do_crd_search_criteria_type"
        [options]="(type$ | async) ?? []"
        formControlName="type"
        appendTo="body"
        [filter]="false"
        [ariaLabel]="'CRD.TYPE' | translate"
        [pTooltip]="'CRD.TOOLTIPS.TYPE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <ng-template pTemplate="header">
          <div class="absolute" style="left: 35px">{{ 'ENUMS.CRD_TYPE.ALL' | translate }}</div>
        </ng-template>
      </p-multiSelect>
      <label class="ocx-required-label" for="do_crd_search_criteria_type">{{ 'CRD.TYPE' | translate }}</label>
    </span>
  </div>
</ocx-search-header>
