<ocx-portal-page
  helpArticleId="PAGE_CRD_SEARCH"
>
  <app-crd-criteria
    [actions]="(actions$ | async) ?? []"
    (criteriaEmitter)="onSearch($event)"
    (resetSearchEmitter)="onCriteriaReset()"
  ></app-crd-criteria>

  <ocx-page-content *ngIf="crds$ | async as crds" styleClass="px-3 pb-2">
    <p-message
      *ngIf="searchInProgress"
      severity="info"
      styleClass="my-3 p-2"
      [text]="'ACTIONS.SEARCH.IN_PROGRESS' | translate"
    ></p-message>
    <p-table
      *ngIf="!searchInProgress"
      #crdTable
      id="am_crd_search_table"
      [value]="crds"
      [columns]="filteredColumns"
      styleClass="p-datatable-striped"
      dataKey="id"
      [reorderableColumns]="false"
      paginatorPosition="bottom"
      [rows]="10"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} - {last} {{ 'ACTIONS.SEARCH.OF' | translate }} {totalRecords}"
    >
      <ng-template pTemplate="caption">
        <ocx-data-view-controls
          [supportedViews]="['table']"
          [enableFiltering]="true"
          [enableSorting]="false"
          [columnDefinitions]="columns"
          (columnsChange)="onColumnsChange($event)"
          (filterChange)="onFilterChange($event)"
          [filterColumns]="['CRD.NAME' | translate, 'CRD.TYPE' | translate]"
        ></ocx-data-view-controls>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td id="am_crd_search_table_emptymessage" colspan="16">
            {{ 'ACTIONS.SEARCH.NO_DATA' | translate }}
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th id="am_crd_search_table_header_actions" class="text-center white-space-nowrap">
            {{ 'ACTIONS.SEARCH.ACTIONS' | translate }}
          </th>
          <th
            *ngFor="let col of columns"
            [id]="'am_crd_search_table_header_col_' + col.field"
            [class]="col.css + ' text-center white-space-nowrap'"
            [pSortableColumn]="col.field"
            [pTooltip]="'CRD.TOOLTIPS.' + col.header | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            <span> {{ col.translationPrefix + '.' + col.header | translate }}</span>
            <p-sortIcon [field]="col.field"></p-sortIcon>
            <p-columnFilter *ngIf="col.hasFilter" type="text" [field]="col.field" display="menu"></p-columnFilter>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row="rowIndex" let-rowData let-columns="columns">
        <tr [pSelectableRow]="crds">
          <td class="px-2 text-center white-space-nowrap">
            <ng-container >
              <button
                pbutton
                class="p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                [id]="'am_crd_search_table_row_' + row + '_view_action'"
                (click)="onDetail($event, rowData, 'VIEW')"
                [aria-label]="'ACTIONS.VIEW.LABEL' | translate"
                [pTooltip]="'ACTIONS.VIEW.LABEL' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <span class="text-primary font-medium p-button-icon pi pi-eye"></span>
              </button>
            </ng-container>
            <button
              pbutton
              class="p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
              [id]="'am_crd_search_table_row_' + row + '_edit_action'"
              (click)="onDetail($event, rowData, 'EDIT')"
              [aria-label]="'ACTIONS.EDIT.LABEL' | translate"
              [pTooltip]="'ACTIONS.EDIT.CRD.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              <span class="text-primary font-medium p-button-icon pi pi-pencil"></span>
            </button>
          </td>
          <td *ngFor="let col of columns" [class]="col.css" id="am_crd_type">
            <ng-container *ngIf="col.limit"> {{ limitText(rowData[col.field], 50) }} </ng-container>
            <ng-container *ngIf="col.isDropdown">
              {{ 'ENUMS.CRD_' + col.header + '.' + rowData[col.field] | translate }}
            </ng-container>
            <ng-container *ngIf="col.field === 'status'">
              <span
                class="pi text-xl pi-circle-fill"
                [class.status-error]="rowData[col.field] === 'ERROR'"
                [class.status-created]="rowData[col.field] === 'CREATED'"
                [class.status-undefined]="rowData[col.field] === 'UNDEFINED' || rowData[col.field] === null"
                [class.status-updated]="rowData[col.field] === 'UPDATED'"
                [aria-label]="'ENUMS.CRD_STATUS.' + rowData[col.field] | translate"
                [pTooltip]="rowData[col.field] === 'ERROR' ? ('ENUMS.CRD_STATUS.' + rowData[col.field] | translate) + ': ' + rowData['message']
                : 'ENUMS.CRD_STATUS.' + rowData[col.field] | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></span>
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ocx-page-content>
</ocx-portal-page>



<!-- DETAIL -->
<!-- <app-crd-detail
  [displayDetailDialog]="displayDetailDialog"
  (hideDialogAndChanged)="onCloseDetail($event)"
  [crd]="crd"
  [allWorkspaces]="allWorkspaces"
  [allProducts]="allProducts"
  [changeMode]="changeMode"
></app-crd-detail> -->
