<ocx-portal-page helpArticleId="PAGE_CRD_SEARCH" permission="CRD#SEARCH">
  <app-crd-criteria
    [actions]="(actions$ | async) ?? []"
    (criteriaEmitter)="onSearch($event)"
    (resetSearchEmitter)="onCriteriaReset()"
  ></app-crd-criteria>

  @if (crds$ | async; as crds) {
    <ocx-content class="w-full adjust-card-padding">
      @if (loading) {
        <p-message
          id="do_crd_search_message_loading"
          severity="info"
          styleClass="m-3"
          [text]="'ACTIONS.LOADING' | translate"
        ></p-message>
      }
      @if (exceptionKey) {
        <p-message
          id="do_crd_search_message_error"
          severity="error"
          styleClass="m-3"
          [text]="exceptionKey | translate"
        ></p-message>
      }

      @if (!loading && !exceptionKey) {
        <ocx-interactive-data-view
          #crdTable
          id="do_crd_search_table"
          [data]="(filteredData$ | async) ?? []"
          [columns]="columns"
          [emptyResultsMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
          [supportedViewLayouts]="['table']"
          [additionalActions]="additionalActions"
          [actionColumnPosition]="'left'"
          [defaultGroupKey]="'ACTIONS.SEARCH.PREDEFINED_GROUP.DEFAULT'"
        >
          <ng-template pTemplate="statusIdCell" let-item="rowObject">
            <span
              class="pi pi-circle-on"
              [class.text-red-600]="item.status === 'ERROR'"
              [class.text-yellow-600]="item.status === 'UNDEFINED'"
              [class.text-green-600]="item.status === 'UPDATED' || item.status === 'CREATED'"
              [attr.aria-label]="'ENUMS.CRD_STATUS.' + item.status | translate"
              [pTooltip]="'ENUMS.CRD_STATUS.' + item.status | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></span>
          </ng-template>
          <ng-template pTemplate="statusIdTableFilterCell" let-rowObject="rowObject">
            <ng-container>
              <span
                class="pi pi-circle-on"
                [class.text-red-600]="rowObject.status === 'ERROR'"
                [class.text-yellow-600]="rowObject.status === 'UNDEFINED'"
                [class.text-green-600]="rowObject.status === 'UPDATED' || rowObject.status === 'CREATED'"
                [attr.aria-label]="'ENUMS.CRD_STATUS.' + rowObject.status | translate"
                [pTooltip]="'ENUMS.CRD_STATUS.' + rowObject.status | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </span>
              <p>&nbsp; {{ 'ENUMS.CRD_STATUS.' + rowObject.status | translate }}</p>
            </ng-container>
          </ng-template>
        </ocx-interactive-data-view>
      }

      @if (crds.length > 0 && chartVisible && diagramColumn !== undefined) {
        <ocx-content class="w-full lg:w-3">
          @if (diagramColumn) {
            <ocx-group-by-count-diagram
              [data]="crds"
              [column]="diagramColumn"
              sumKey="ACTIONS.SEARCH.DIAGRAM_SUM"
            ></ocx-group-by-count-diagram>
          }
        </ocx-content>
      }
    </ocx-content>
  }
</ocx-portal-page>

<!-- DETAIL -->
<app-crd-detail
  [displayDetailDialog]="displayDetailDialog"
  (hideDialogAndChanged)="onCloseDetail($event)"
  [crdName]="crd?.name"
  [crdType]="crd?.kind"
  [changeMode]="changeMode"
></app-crd-detail>
