<div class="mt-2 flex flex-column row-gap-2">
  <div *ngFor="let update of updateHistory" class="card relative p-3 pt-4pb-2 surface-100">
    <p-badge
      severity="primary"
      [value]="update.operation + ':  ' + (update.date | date: dateFormat)"
      class="z-1 text-badge-right"
      styleClass="text-base font-normal"
      [style]="{ 'padding-left': '0.75rem', 'padding-right': '0.75rem' }"
    />
    <div *ngFor="let key of objectKeys(update.fields)" class="grid">
      <div class="col-2 font-bold">{{ key }}</div>
      <div class="col-10">{{ update.fields[key].join(', ') }}</div>
    </div>
  </div>
</div>
